.npf-lightbox-active .tmblr-lightbox *:not(.vignette){
    visibility:hidden;
}

p + [npf-multimedia], p + .npf_inst {
    margin-top:1em;
}

*:not(p) + [npf-multimedia], *:not(p) + .npf_inst {
    margin-top:var(--NPF-Captions-Spacing);
}

.npf_inst {
    display:inline-block;
    vertical-align:middle;
    width:100%;
}

/* 
[npf-multimedia] *:not(p, .tmblr-attribution, .tmblr-alt-text-helper),
.npf_inst *:not(p, .tmblr-attribution, .tmblr-alt-text-helper){
    font-size:0;
    line-height:0;
} */

.npf_row {
    margin:0!important;
    width:100%;
}

.npf_row + .npf_row {
    margin-top:var(--NPF-Photoset-Spacing)!important;
}

.npf_col a.post_media_photo_anchor {
    display:block;
    width:100%;
}

.npf_col, .tmblr-full {
    padding:0!important;
}

.npf_col + .npf_col {
    margin-left:var(--NPF-Photoset-Spacing)!important;
}

.npf_inst .tmblr-full + .tmblr-full {
    margin-top:var(--NPF-Photoset-Spacing);
}

.tmblr-full {
    display:flex;
    padding-bottom:0!important;
}

.tmblr-full img {
    position:initial!important;
    max-width:100%!important;
    vertical-align:middle;
    cursor:pointer;
}

[npf-multimedia] + *, .npf_inst + * {
    margin-top:var(--NPF-Captions-Spacing);
}
